# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
out/
dist/

# VS Code - personal settings bleiben lokal
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Release artifacts
*.vsix
.vscode-test
